body, h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    /* width: 1920px; */
  }

header{
    width: 1920px;
    height: 94px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  }
  .longer_wrapper{
    width: 1920px;
  }
  .wrapper{
    margin: 0 auto;
    width: 1620px;
    display: flex;
  }
  
  
  .logo{
    padding-top: 27px;
    width: 60px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    color: #333;
    
  }
  
  .logo span{  
    font-size: 18px;
    line-height: 21px; 
    letter-spacing: 0.08em;
  }
  
  .navigation{
    width: 575px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 41px;
    margin-left: 423px;
  }
  
  a{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #333;
  }
  
  .about{
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: 0;
  }
  .zoos{
    font-weight: 500;
  }
  /* кнопка переключения тем-------------------------------------------------- */
  .switch{
    margin-top: 30px;
    margin-left: 465px;
    transform: translate();
  }
  
  .toggle{
    position: relative;
    width: 54px;
    height: 30px;
    -webkit-appearance: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 190px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    cursor: pointer;
  }
  
  .toggle:checked{
    background: #4f4f4f;
  }
  
  .toggle::before{
    content: '';
    position: absolute; 
    width: 20px;
    height: 20px;
    left: 6px;
    top: 5px;
    border-radius: 20px;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15)
  }
  
  .toggle:checked::before{
    left: 28px;
  }

  /* ------------------------------------main--------------------------------------------------- */

  main{
      display: flex;
      width: 1920px;
      height: 847px;
      background: rgba(251, 251, 251, 1); 
      padding-top: 63px;
  }

  /* ----------------------------------------------------------------------------------------------------------------- */
aside{
  width: 162px;
  height: 597px;
  margin-left: 24px;
  
  
}

.scroll-animal{
    cursor: pointer;
    width: 108px;
    height: 108px;
    margin-top: 20px;
    margin-left: 30px;
}


.scroll-animal.burned{
  
  margin-top: 10px;
}

.scroll-animal.panda{
  position: absolute;
  margin-top: 5px;
  margin-left: 20px;
}

.frame{
  position: absolute;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.image-panda{
  margin-top: 5px ;
  margin-left: 5px;

}




.scroll-animal:hover{
  
    /* transition: 0.7s;
    transform: scale(1.1); */
  
}
.increase{
    
    width: 137px;
    height: 137px;
    
}

.scroll-animal.eagle{
  margin-top: 145px;
}


.arrow{
  margin-left: 67px;
}

.arrow.button{
  margin-top: 23px;
}
/* .scroll-animal.jaguar{
  background: url(img/jaguar.png);
}

.scroll-animal.elephant{
  background: url(img/elephant.png);
}

.scroll-animal.lion{
  background: url(img/lion.png);
 
}

.scroll-animal.zebra{
  background: url(img/zebra.png);
  
}
 */
  .zoo{
    width: 346px;
    height: 56px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #333;
    margin-bottom: 35px;
  }
  .video{
    margin-left: 5px;
  }
  .video-information{
    display: flex;
    margin-left: 182px;
  }
.small-video {
  display: flex ;
  justify-content: space-between;
  margin-top: 26px;
}

.video-information p{
  width: 380px;
}

.description{
  margin-top: 92px;
  margin-left: 20px;
}
.desc{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
    margin-bottom: 9px;
}
.heading{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333;
  margin-bottom: 9px;
}

.btn_watc{
  width: 193px;
  height: 55px;
  margin-top: 34px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
   
}

.watch{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 900;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  
}

.feed{
  padding-top: 20px;
  padding-left: 73px;
}


  /* -----------------------------------------footer------------------------------------------------------------- */

  footer{
    width: 1920px;
    height: 751px;
    background: #333;
    
  }
  
   
  .logo.f{
    color: #fefefe;
    padding-left: 150px;
    padding-top: 80px;
    width: 60px;
    display: flex;
    width: 1920px;
  }
  .logo.f h1{
    width: 60px;
    margin-top: 20px;
  }
  .list.fo{
    margin-top: 0px;
    margin-left: 230px;
   
  }
  
  .navigation.foot{
    justify-content:start;
  }
  .navigation.foot li{
    margin-left: 73px;
  }
  
  .navigation.foot a{
    color: #FEFEFE;
  }
  
  .about.f-er{
    text-decoration: none;
  }
  
  .btn_watc.but.foot_btn{
    margin-top: 20px;
    margin-left: 17px;
    width: 275px;
  }
  
  .btn_watc.but.foot_btn p{
    margin-left: 27px;
    margin-top: 18px;
  }
  
  .form{
    width: 354px;
    margin-left: 119px;
    margin-top: 17px;
    padding: 32px;
    border-radius: 10px;
    
  
  }
  .form_title{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    color: #fefefe;
    margin-bottom: 33px;
  }
  .form_group{
    position: relative;
    margin-top: 17px;
  }
  
  .form_input{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
  }
  
  .form_label{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #9e9e9e;
    transition: 0.3s;
  
  }
  
  
  .form_input:focus{
    border-bottom: 1px solid #1a73a8;
  }
  
  .form_input:focus ~ .form_label{
    top: -10px;
    font-size: 12px;
    color: #e0e0e0;
    z-index: 0;
  }
  .form_input:focus ~ .form_label,
  .form_input:not(:placeholder-shown) ~ .form_label {
           top: -18px;
           font-size:12px;
           color: #e0e0e0;
   }
  
   :focus::-webkit-input-placeholder {
    color: transparent
  }
  
  
  
  .textarea{
    width: 373px;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
      -moz-appearance: none;
    resize: none;
    
  }
  .textarea:focus{
    border: none;
  }
  legend{
    margin-left:5px;
    padding-top: 2px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bdbdbd;
  }
  fieldset{
    margin-top: 40px;
    width: 380px;
    height: 123px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  
  .checkbox{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: none;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 0;
  }
  
  .agree{
    background: #333;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #fefefe;
  }
  
  .agree:before{
    content:"";
    color:#333;
    background: #333;
  }
  
  .btn_watc.but.send{
    display: flex;
    width: 108px;
    height: 16px;
    background: transparent;
    margin: 19px;
    margin-left: 259px;
  }
  
  .btn_watc.but.send p{
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #fefefe;
  }
  
  .btn_watc.but.send img{
    margin-left: 25px;
    margin-bottom: 4px;
  }
  
  
  .div-footer{
    display: flex;
  }
  .online-centre{
    width: 190px;
    height: 186px;
    margin-left: 436px;
    margin-top: 48px;
  }
  
  .title-centre{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    color: #fefefe;
  }
  
  address{
    margin-top: 35px;
  }
  
  .addres-centre{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #fefefe;
  }
  
  .time-centre{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #fefefe;
    margin-top: 4px;
  }
  
  .email-centre{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #fefefe;
    
  }
  .phone-centre{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #fefefe;
    margin-top: 20px;
  }
  .social_network{
    width: 20px;
    height: 107px;
    margin-top: 218px;
    margin-left: 3px;
    
  }
  .networks{
    margin: 0;
    padding: 0;
    list-style: none;
  }
   .networks li{
    margin-top: 10px; 
  }
  .social_network.centre{
    display: flex;
    margin-top: 11px;
    
    width: 190px;
  }
  
  .networks.cent_re{
    display: flex;
    width: 190px;
  }
  .networks.cent_re li{
    margin-left: 10px;
  }
  
  .copyright{
    width: 290px;
    height: 33px;
    position: absolute;
    margin-top: 0px;
    margin-left: 50px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    color: #fefefe;
  }
  
  .creator{
    padding-top: 20px;
    margin-bottom: 5px;
    margin-left: 96px;
  }
  
  .rs-school{
    margin-left: 97px;
  }

  .logo.f a{
    color: #fff;
  }